<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]>
      <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
      <![endif]-->
    <!--
    ========================================================================
    EXCLUSIVE ON themeforest.net
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Template Name   : Radley - One Page HTML Template
    Author          : Ashok Prajapati
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Copyright (c) 2018 - Ashok Prajapati
    ========================================================================
    -->
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Radley - One Page HTML Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Page Title -->
    <title>Radley - One Page HTML Template</title>
    <!-- / -->

    <!-- Plugin CSS -->
    <link href="assets/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/plugin/animate/css/animate.css" rel="stylesheet" />
    <!-- / -->

    <!---Font Icon-->
    <link href="assets/plugin/font-awesome/css/fontawesome-all.css" rel="stylesheet" />
    <!-- / -->

    <!-- Theme Style -->
    <link href="assets/css/styles.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <link href="assets/css/color/color-1.css" id="themecolor" rel="stylesheet" />
    <!-- / -->

    <!---Goog Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800&amp;subset=cyrillic"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <!-- / -->   
    
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- /Favicon Icon -->
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

    <!-- Loading -->
    <div id="loading">
       <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- / -->

    <!-- Header -->
    <header>
        <nav class="navbar header-navbar fixed-top navbar-expand-lg"  id="navbar">
            <div class="container">

                <!-- brand -->
                <a class="navbar-brand" href="#">Radley</a>
                <!-- /brand -->

                <!-- Menu Toggle -->
                <button data-toggle="collapse" title="menu" data-target="#navbarmenu" aria-controls="navbarmenu" aria-expanded="false" class="navbar-toggler"
                    type="button">
                    <i></i>
                    <i></i>
                    <i></i>
                </button>
                <!-- /Menu Toggle -->

                <!-- Navagation -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarmenu">
                    <ul class="navbar-nav">
                        <li>
                            <a class="nav-link active" href="#home">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#aboutus">About Us</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#team">Our Team</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#price">Price</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#blog">Blog</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /Navagation -->
            </div><!-- /Container -->
        </nav><!-- /navbar -->
    </header>
    <!-- /Header End -->

    <!-- Main Start -->

    <!-- Banner -->
    <div class="banner" id="home">
        <div class="owl-carousel owl-theme" id="bannerslider">
            <!-- item -->
            <div class="item bannerafter" style="background-image: url(assets/images/banner-2.jpg)">
                <div class="container">
                    <div class="row justify-content-center full-screen " >
                        <div class="col-lg-9 align-self-center text-center pt-5 pb-5 mt-5 mb-5">
                            <h1 class="text-white" >One Page Template</h1>
                            <p class="text-white" >We create beautiful, conversion-based Websites and e-commerce solutions to grow brands and enhance customer experience</p>
                            <a href="#aboutus" class="btn btn-themes btn-lg">Learn More</a>
                            <a href="#contact" class="btn btn-lg btn-black">Get Started</a>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /item -->

            <!-- item -->
            <div class="item bannerafter" style="background-image: url(assets/images/banner-3.jpg)">
                <div class="container">
                    <div class="row justify-content-center full-screen ">
                        <div class="col-lg-9 align-self-center text-center pt-5 pb-5 mt-5 mb-5">
                            <h1 class="text-white">One Page Design</h1>
                            <p class="text-white">Website Design With Better Performance  & Built-In Strategy
                                    That Simply Works Better</p>
                            <a href="#aboutus" class="btn btn-themes btn-lg">Learn More</a>
                            <a href="#contact" class="btn btn-lg btn-black">Get Started</a>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /item -->

             <!-- item -->
            <div class="item bannerafter" style="background-image: url(assets/images/banner-1.jpg)">
                <div class="container">
                    <div class="row justify-content-center full-screen ">
                        <div class="col-lg-9 align-self-center text-center pt-5 pb-5 mt-5 mb-5 ">
                            <h1 class="text-white">One Page Website</h1>
                            <p class="text-white">Website Design With Better Performance  & Built-In Strategy That Simply Works Better</p>
                            <a href="#aboutus" class="btn btn-themes btn-lg">Learn More</a>
                            <a href="#contact" class="btn btn-lg btn-black">Get Started</a>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /item -->

        </div><!-- /owl-carousel -->
    </div>
    <!-- /Banner -->

    <!-- Section : About Us -->
    <section class="section" id="aboutus">
        <div class="container ">
            <div class="row mb-5 align-items-center justify-content-center">
                <div class="col-md-8 col-lg-6  text-center">
                    <h2>About  <span class="text-color-primary">Radley</span></h2>
                    <p class="text-lg">We are a creative agency that works at the intersection of design, technology & human interaction.</p>
                </div><!-- /col -->
            </div><!-- /row -->
          
            <div class="row align-items-center justify-content-center">
                    <div class="col-lg-7 ">
                        <div class="features-hero mb-4 mb-lg-0  transition">
                            <img src="assets/images/about.jpg" alt="">
                            <a href="#" class="play-btn" title="Play video"><i class="fas fa-play-circle"></i></a>
                        </div>
                    </div><!-- /col -->
    
                    <div class="col-lg-5">
                        <div class="ml-lg-5">                            
                            <div class="features-wrapper">
                                <h3>Seo friendly</h3>
                                <p>Sed maximus eu massa non mattis etiam eu porttitor lorem eu euismod velit etiam et leo quis</p>
                            </div><!-- /features -->
                            <div class="features-wrapper">
                                    <h3>Easy to customize</h3>
                                    <p>Sed maximus eu massa non mattis etiam eu porttitor lorem eu euismod velit etiam et leo quis</p>
                                </div><!-- /features -->
                            <div class="features-wrapper">
                                <h3>Well documented</h3>
                                <p>Sed maximus eu massa non mattis etiam eu porttitor lorem eu euismod velit etiam et leo quis</p>
                            </div><!-- /features -->
                        </div>
                    </div><!-- /col -->
                </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- /Section : About Us -->


    <!-- Section : Looking For  One Page Websites? -->
    <section class="section bg-image" style="background-image: url(assets/images/banner-2.jpg)">
        <div class="container text-center">
            <h2 class="text-white mb-5">Looking For One Page Websites?</h2>
            <a href="#contact" class="btn btn-themes btn-lg">Try Our Team</a>
        </div><!-- /container -->
    </section>
    <!-- /Section : Looking For  One Page Websites? -->


    <!-- Section : Our Service -->
    <section class="section bg-grey ourservice" id="services">
        <div class="container">
            <div class="row mb-5 align-items-center justify-content-center">
                <div class="col-md-8 col-lg-6  text-center">
                    <h2>Our <span class="text-color-primary">Services</span></h2>
                    <p class="text-lg">Various Ways our full-service Australia Web design company & Creative Agency can help your brand grow</p>
                </div><!-- /col -->
            </div><!-- /row -->

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Web Design-->
                    <div class="ourservice-item transition">
                        <div class="service-icon">
                            <i class="fas fa-desktop"></i>
                        </div>
                        <h4>Web Design</h4>
                        <p>Sed maximus eu massa non mattis etiam eu porttitor lorem eu euismod velit etiam et leo quis</p>
                    </div><!-- /Web Design-->
                </div><!-- /col -->

                <div class="col-lg-4 col-md-6">
                    <!-- Web Development-->
                    <div class="ourservice-item transition">
                        <div class="service-icon  transition">
                            <i class="fas fa-code"></i>
                        </div>
                        <h4>Web Development</h4>
                        <p>Sed maximus eu massa non mattis etiam eu porttitor lorem eu euismod velit etiam et leo quis</p>
                    </div><!-- /Web Development-->
                </div><!-- /col-->

                <div class="col-lg-4 col-md-6">
                     <!-- Mobile App Design-->
                    <div class="ourservice-item transition">
                        <div class="service-icon transition">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <h4>Mobile App Design</h4>
                        <p>Sed maximus eu massa non mattis etiam eu porttitor lorem eu euismod velit etiam et leo quis</p>
                    </div><!-- /Mobile App Design-->
                </div><!-- /col-->

                <div class="col-lg-4 col-md-6">
                     <!-- SEO-->
                    <div class="ourservice-item transition">
                        <div class="service-icon transition">
                            <i class="fas fa-search"></i>
                        </div>
                        <h4>SEO</h4>
                        <p>Sed maximus eu massa non mattis etiam eu porttitor lorem eu euismod velit etiam et leo quis</p>
                    </div> <!-- /SEO-->
                </div><!-- /col-->

                <div class="col-lg-4 col-md-6">
                    <!-- Classic Service -->
                    <div class="ourservice-item transition">
                        <div class="service-icon transition">
                            <i class="far fa-lightbulb"></i>
                        </div>
                        <h4>Classic Service</h4>
                        <p>Sed maximus eu massa non mattis etiam eu porttitor lorem eu euismod velit etiam et leo quis</p>
                    </div><!-- /Classic Service -->
                </div><!-- col -->

                <div class="col-lg-4 col-md-6">
                    <!-- /Awesome Support-->
                    <div class="ourservice-item transition">
                        <div class="service-icon transition">
                            <i class="fas fa-headphones"></i>
                        </div>
                        <h4>Awesome Support</h4>
                        <p>Sed maximus eu massa non mattis etiam eu porttitor lorem eu euismod velit etiam et leo quis</p>
                    </div><!-- /Awesome Support-->
                </div><!-- /col -->

            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- /Section : Our Service -->

    <!-- Section : Counter -->
    <section class="counterbox section pt-0 bg-grey" id="counter">
        <div class="container">
            <div class="row text-center">

                <!-- Projects Completed-->
                <div class="col-sm-6 col-lg-3 box-container">
                    <div class="box">
                        <h4 class="count text-color-primary">3235</h4>
                        <p>Projects Completed</p>
                    </div>
                </div> <!-- /Projects Completed-->

                <!-- Coffees Consumed-->
                <div class="col-sm-6 col-lg-3 box-container">
                    <div class="box">
                        <h4 class="count text-color-primary">7626</h4>
                        <p>Coffees Consumed</p>
                    </div>
                </div><!-- /Coffees Consumed-->

                <!-- Happy Customers-->
                <div class="col-sm-6 col-lg-3 box-container">
                    <div class="box">
                        <h4 class="count text-color-primary">1850</h4>
                        <p>Happy Customers</p>
                    </div>
                </div><!-- /Happy Customers-->

                <!-- Lines Of Code-->
                <div class="col-sm-6 col-lg-3 box-container">
                    <div class="box">
                        <h4 class="count text-color-primary">4360</h4>
                        <p>Lines Of Code</p>
                    </div>
                </div> <!-- Lines Of Code-->

            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- /Section : Counter -->

    <!-- Section : Our Projects-->
    <section class="section" id="portfolio">
        <div class="container">
            <div class="row  mb-5 align-items-center justify-content-center">
                <div class="col-md-10 col-lg-7 text-center">
                    <h2>Our <span  class="text-color-primary">Projects</span></h2>
                    <p class="text-lg">Proven strategies and complete frameworks developed by the We Build Ideas drive solid business growth – Client success is our focus; it’s what we do. </p>
                </div><!-- /col -->
            </div><!-- /row -->

            <div class="row ourwork " data-recentwork>
                <div class="col-md-6 col-lg-4 mb-4 items website">
                    <!--Work Item-->
                    <div class="card">
                        <div class="card-img-top">
                            <div class="card-cover d-flex flex-column justify-content-center bg-primery align-items-center">
                                <div class="text-center project-info text-white p-2">
                                    <h3 class="text-white">Java, C++, Php</h3>
                                    <p>Whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.</p>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-links" title="link">
                                        <i class="fas fa-link"></i>
                                    </a>
                                    <a href="#" class="btn btn-links" title="android">
                                        <i class="fab fa-android"></i>
                                    </a>
                                    <a href="#" class="btn btn-links" title="apple">
                                        <i class="fab fa-apple"></i>
                                    </a>
                                </div>
                            </div>
                            <img alt="Project One" title="Project One" src="assets/images/sq-1.jpg">
                        </div>
                    </div>
                </div><!-- /col -->
                <!--/Work Item-->

                <!-- Work Item-->
                <div class="col-md-6 col-lg-4 mb-4 items">
                    <div class="card">
                        <div class="card-img-top">
                            <div class="card-cover d-flex flex-column bg-primery justify-content-center align-items-center">                               
                                <div class="text-center project-info text-white p-2">
                                    <h3 class="text-white">Photography</h3>
                                    <p>Whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.</p>
                                </div>
                                <div>
                                        <a href="#" class="btn btn-links" title="link">
                                                <i class="fas fa-link"></i>
                                            </a>
                                           
                                </div>
                            </div>
                            <img alt="Project two" title="Project two" src="assets/images/sq-2.jpg">
                        </div>
                    </div>
                </div><!-- /col -->
                <!-- /Work Item-->

                <!-- Work Item-->
                <div class="col-md-6 col-lg-4 mb-4 items">
                    <div class="card">
                        <div class="card-img-top">
                            <div class="card-cover d-flex flex-column bg-primery justify-content-center align-items-center">
                                <div class="text-center project-info text-white p-2">
                                    <h3 class="text-white">UI/UX Design</h3>
                                    <p>Whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.</p>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-links" title="link">
                                        <i class="fas fa-link"></i>
                                    </a>
                                    <a href="#" class="btn btn-links" title="android">
                                        <i class="fab fa-android"></i>
                                    </a>
                                    <a href="#" class="btn btn-links" title="apple">
                                        <i class="fab fa-apple"></i>
                                    </a>
                                </div>

                            </div>
                            <img alt="Project three" title="Project three" src="assets/images/sq-3.jpg">
                        </div>
                    </div>
                </div><!-- /col -->
                <!-- /Work Item-->

                <!-- Work Item-->
                <div class="col-md-6 col-lg-4 mb-4 items website">
                    <div class="card">
                        <div class="card-img-top">
                            <div class="card-cover d-flex flex-column bg-primery justify-content-center align-items-center">
                                <div class="text-center project-info text-white p-2">
                                    <h3 class="text-white">HTML, CSS</h3>
                                    <p>Whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.</p>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-links" title="link">
                                        <i class="fas fa-link"></i>
                                    </a>                                    
                                </div>

                            </div>
                            <img alt="Project four" title="Project four" src="assets/images/sq-4.jpg">
                        </div>
                    </div>
                </div><!-- /col -->
                <!-- /Work Item-->

                <!-- Work Item-->
                <div class="col-md-6 col-lg-4 mb-4 items app">
                    <div class="card">
                        <div class="card-img-top">
                            <div class="card-cover d-flex flex-column bg-primery justify-content-center align-items-center">
                                <div class="text-center project-info text-white p-2">
                                    <h3 class="text-white">Mobile App</h3>
                                    <p>Whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.</p>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-links" title="android">
                                        <i class="fab fa-android"></i>
                                    </a>
                                    <a href="#" class="btn btn-links" title="apple">
                                        <i class="fab fa-apple"></i>
                                    </a>
                                </div>

                            </div>
                            <img alt="Project five" title="Project five" src="assets/images/sq-5.jpg">
                        </div>
                    </div>
                </div><!-- /col -->
                <!-- /Work Item-->
                <!-- Work Item-->
                <div class="col-md-6 col-lg-4 mb-4 items app">
                    <div class="card">
                        <div class="card-img-top">
                            <div class="card-cover d-flex flex-column bg-primery justify-content-center align-items-center">
                                <div class="text-center project-info text-white p-2">
                                    <h3 class="text-white">iOS Mobile App</h3>
                                    <p>Whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.</p>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-links" title="link">
                                        <i class="fas fa-link"></i>
                                    </a>                                   
                                    <a href="#" class="btn btn-links" title="apple">
                                        <i class="fab fa-apple"></i>
                                    </a>
                                </div>

                            </div>
                            <img alt="Project six" title="Project six" src="assets/images/sq-6.jpg">
                        </div>
                    </div>
                </div><!-- /col -->
                <div class="col-12 col-md-12 text-center pt-4">
                    <button class="btn btn-themes btn-style-one  btn-lg" type="button">View More</button>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- /Section : Our Projects-->

    <!-- Section : Meet our super heroes-->
    <section class="section  bg-grey" id="team">
        <div class="container">
            <div class="row  mb-5 align-items-center justify-content-center">
                <div class="col-md-10 col-lg-7  text-center">
                    <h2>Meet our super <span  class="text-color-primary">heroes</span></h2>
                    <p class="text-lg">We’re a dedicated team of creative digital experts with an insatiable appetite for ideas and innovation.</p>
                </div> <!-- /col-->
            </div><!-- /row-->

            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12 mb-4 mb-lg-0">
                    <div class="team-item">
                        <div class="avatar">
                            <img src="assets/images/support_01.jpg" alt="Marie J. Smith" title="Marie J. Smith"> </div>
                        <div class="team-info">
                            <ul class="socials ">
                                <li>
                                    <a href="#" title="facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="google plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="ng-star-inserted">
                                    <a href="#" title="linkedin">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="team-name">Marie J. Smith</h3>
                            <span class="team-job">Web Developer</span>
                        </div>
                    </div><!-- /Team Item-->
                </div><!-- /col-->

                <div class="col-lg-3 col-sm-6 col-12  mb-4 mb-lg-0">
                    <div class="team-item">
                        <div class="avatar">
                            <img src="assets/images/support_02.jpg" alt="Corney K. Smith" title="Corney K. Smith"> </div>
                        <div class="team-info">
                            <ul class="socials ">
                                <li>
                                    <a href="#" title="facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="ng-star-inserted">
                                    <a href="#" title="linkedin">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="team-name">Corney K. Smith</h3>
                            <span class="team-job">Web Developer</span>
                        </div>
                    </div><!-- /Team Item-->
                </div><!-- /col-->

                <div class="col-lg-3 col-sm-6 col-12 mb-4 mb-lg-0">
                    <div class="team-item">
                        <div class="avatar">
                            <img src="assets/images/support_03.jpg" alt="Recha A. John" title="Recha A. John"> </div>
                        <div class="team-info">
                            <ul class="socials ">
                                <li>
                                    <a href="#" title="facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="google plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="ng-star-inserted">
                                    <a href="#" title="linkedin">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="team-name">Recha A. John</h3>
                            <span class="team-job">Web Designer</span>
                        </div>
                    </div><!-- /Team Item-->
                </div><!-- /col-->

                <div class="col-lg-3 col-sm-6 col-12 mb-4 mb-lg-0">
                    <div class="team-item">
                        <div class="avatar">
                            <img src="assets/images/support_04.jpg" alt="Bennett H. John" title="Bennett H. John"> </div>
                        <div class="team-info">
                            <ul class="socials ">
                                <li>
                                    <a href="#" title="facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="facebook">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="facebook">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="ng-star-inserted">
                                    <a href="#" title="facebook">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="team-name">Bennett H. John</h3>
                            <span class="team-job">Web Developer</span>
                        </div>
                    </div><!-- /Team Item-->
                </div><!-- /col-->

            </div><!-- /row-->
        </div><!-- /container-->
    </section>
    <!-- /Section : Meet our super heroes-->

    <!-- Section : Testimonials-->
    <section class="section " id="testimonials-section">
        <div class="container">
            <div class="row mb-5 align-items-center justify-content-center">
                <div class="col-md-10 col-lg-7  text-center">
                    <h2>What our <span  class="text-color-primary">customers</span> said</h2>
                    <p class="text-lg">Corem Ipsum is simply dummy text of the printing and typesetti industry. Corem Ipsum has been the industry's
                        standard dummy text..</p>
                </div><!-- /col-->
            </div><!-- /row-->
            
            <!-- owl-carousel-->
            <div class="owl-carousel owl-theme testimonialsslider" id="testimonialsslider">
                <div class="item">
                    <div class="text-center testimonials">
                        <div class="testimonialImg transition">
                            <img src="assets/images/testimonial1.jpg" alt="Richa, Austaliya" title="Richa, Austaliya"> </div>
                        <p><i class="fas fa-quote-left"></i> Radley has been very professional and responsive to our needs and has helped us with our website maintenance and development. I would highly recommend their staff. </p>
                        <div class="clientinfo"><strong> Richa Smith</strong><br> Designer, Austaliya</div>
                    </div>
                </div><!-- /owl-carousel-item -->

                <div class="item">
                    <div class="text-center testimonials">
                        <div class="testimonialImg transition">
                            <img src="assets/images/testimonial2.jpg" alt="Sima, Caneda" title="Richa, Caneda"> </div>
                        <p><i class="fas fa-quote-left"></i> Excellent professional, highly responsive and commited to deliver with quality. very professional and responsive to our needs and has helped us with our website maintenance and development. </p>
                        <div class="clientinfo"><strong>Sima Smith</strong><br>Developer, Caneda</div>
                    </div>
                </div><!-- /owl-carousel-item -->

                <div class="item">
                    <div class="text-center testimonials">
                        <div class="testimonialImg transition">
                            <img src="assets/images/testimonial3.jpg"  alt="John, Austaliya" title="John, Austaliya"> </div>
                        <p><i class="fas fa-quote-left"></i> Excellent professional, highly responsive and commited to deliver with quality. very professional and responsive to our needs and has helped us with our website maintenance and development.  </p>
                            <div class="clientinfo"><strong>Alex </strong> <br>Designer, Austaliya</div>
                    </div>
                </div><!-- /owl-carousel-item -->

            </div><!-- /owl-carousel-->
        </div><!-- /container-->
    </section>
    <!-- Section : /Testimonials-->

    <!-- Section : price-->
    <section class="section bg-grey" id="price">
        <div class="container">
            <div class="row  mb-5 align-items-center justify-content-center">
                <div class="col-md-10 col-lg-7  text-center">
                    <h2>Our Best <span  class="text-color-primary">Pricing</span></h2>
                    <p class="text-lg">Corem Ipsum is simply dummy text of the printing and typesetti industry. Corem Ipsum has been the industry's
                        standard dummy text..</p>
                </div><!-- /col-->
            </div><!-- /row-->

            <div class="row text-center">
                <!--Price -->
                <div class="col-12 col-md-4">
                    <div class="card price-table">
                        <div class="card-header">
                           <h3>Starter</h3>   </div>
                            <div class="card-body price">
                                <sup>$</sup>0<sub>/mo</sub>
                            </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">10GB of Bandwidth</li>
                            <li class="list-group-item">Max 50 connection</li>
                            <li class="list-group-item">512MB RAM</li>
                            <li class="list-group-item">Unlimited access</li>
                            <li class="list-group-item">Unlimited User</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-themes btn-style-one  btn-lg" title="Buy Now">Buy Now</a>
                        </div>
                    </div>
                </div> <!--/col -->

                <div class="col-12 col-md-4 ">
                    <div class="card price-table">
                        <div class="card-header">
                           <h3 >Business</h3>  </div>
                        <div class="card-body price">
                            <sup>$</sup>49<sub>/mo</sub></div>
                        <ul class="list-group  list-group-flush">
                            <li class="list-group-item">100GB of Bandwidth</li>
                            <li class="list-group-item">Max 1500 connection</li>
                            <li class="list-group-item">2GB RAM</li>
                            <li class="list-group-item">Unlimited access</li>
                            <li class="list-group-item">Unlimited User</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-themes btn-style-one btn-lg" title="Buy Now">Buy Now</a>
                        </div>
                    </div>
                </div> <!--/col -->

                <div class="col-12 col-md-4 ">
                    <div class="card price-table">
                        <div class="card-header">
                           <h3>Enterprise</h3>     
                        </div>
                            <div class="card-body price">
                            <sup>$</sup>149<sub>/mo</sub> </div>
                        <ul class="list-group   list-group-flush">
                            <li class="list-group-item">1000GB of Bandwidth</li>
                            <li class="list-group-item">Max 5000 connection</li>
                            <li class="list-group-item">8GB RAM</li>
                            <li class="list-group-item">Unlimited access</li>
                            <li class="list-group-item">Unlimited User</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-themes btn-style-one  btn-lg" title="Buy Now">Buy Now</a>
                        </div>
                    </div>
                </div> <!--/col -->

            </div> <!--/row -->
        </div><!-- /container-->
    </section>
    <!-- /Section : Price-->

    <!-- Section : subscribe-->
    <section class="section" id="subscribe">
        <div class="container">
            <div class="row  align-items-center justify-content-center">
                <div class="col-md-10 col-lg-7  text-center ">
                    <h2>Subscribe to <span class="text-color-primary">Newsletter</span></h2>
                    <p class="text-lg mb-5 pb-2">Vivamus ornare feugiat orci eu faucibus. Phasellus nulla arcu, pharetra nec laoreet in, scelerisque a lectus.</p>
                    <div class="subscribe-form ml-md-5 mr-md-5">
                            <form>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" title="Enter Your Email Address" placeholder="Enter Your Email Address">
                                    <div class="input-group-append input-group-addon">
                                      <button class="btn btn-themes btn-style-one " type="button">Subscribe</button>
                                    </div>
                                  </div>
                            </form>
                    </div>
                </div><!-- /col-->
            </div><!-- /row-->           
        </div><!-- /container-->
    </section>
    <!-- /Section : subscribe-->

    
    <!-- Section : Latest News (Blog)-->
    <section class="section bg-grey" id="blog">
        <div class="container">
            <div class="row  mb-5 align-items-center justify-content-center">
                <div class="col-md-10 col-lg-7  text-center">
                    <h2>Latest <span  class="text-color-primary">News</span></h2>
                    <p class="text-lg">Corem Ipsum is simply dummy text of the printing and typesetti industry. Corem Ipsum has been the industry's
                        standard dummy text..</p>
                </div><!-- /col-->
            </div><!-- /row-->           


            <div class="row latestBlog" id="blog-slider-single">
                <div class="col-lg-4">
                    <div class="blog-wrapper">
                        <div class="blog-thumb">
                            <a href="#" title="How to Use Bootstrap?"><img src="assets/images/blog1.jpg" alt="How to Use Bootstrap?" title="How to Use Bootstrap?"> </a>
                        </div><!-- /blog-thumb-->
                        <div class="blog-content">
                            <h4>
                                <a href="#">How to Use Bootstrap? </a>
                            </h4>
                            <div class="blog-meta">
                                <span class="text-color-primary">25 Janu 2019</span>
                                <em>by Admin</em>                             
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua enim ad.</p>
                            <a href="#" class="btn-more">Read More <i class="fas fa-angle-right"></i></a>
                        </div><!-- /blog-content-->
                    </div><!-- /blog-wrapper-->
                </div><!-- /col-->

                <div class="col-lg-4">
                    <div class="blog-wrapper">
                        <div class="blog-thumb">
                            <a href="#"><img src="assets/images/blog2.jpg" alt="10 Reasons to Use Bootstrap" title="10 Reasons to Use Bootstrap"> </a>
                        </div><!-- /blog-thumb-->
                                
                        <div class="blog-content">
                            <h4>
                                <a href="#">10 Reasons to Use Bootstrap</a>
                            </h4>
                            <div class="blog-meta">
                                    <span class="text-color-primary">25 Janu 2019</span>
                                    <em>by Admin</em>                              
                                </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua enim ad.</p>
                            <a href="#" class="btn-more">Read More <i class="fas fa-angle-right"></i></a>
                        </div><!-- /blog-content-->
                    </div><!-- /blog-wrapper-->
                </div><!-- /col-->

                <div class="col-lg-4">
                    <div class="blog-wrapper">
                        <div class="blog-thumb">
                            <a href="#"><img src="assets/images/blog3.jpg" alt="What is lorem ipsum?" title="What is lorem ipsum?"> </a>
                        </div><!-- /blog-thumb-->
                        <div class="blog-content">
                            <h4>
                                <a href="#">What is lorem ipsum?</a>
                            </h4>
                            <div class="blog-meta">
                                    <span class="text-color-primary">25 Janu 2019</span>
                                    <em>by Admin</em>                             
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua enim ad.</p>
                            <a href="#" class="btn-more">Read More <i class="fas fa-angle-right"></i></a>
                        </div><!-- /blog-content-->
                    </div><!-- /blog-wrapper-->
                </div><!-- /col-->
            </div><!-- /row-->
        </div><!-- /container-->
    </section>
    <!-- /Section : Latest News (Blog)-->
    
    <!-- Section : Get in Touch -->
    <section class="section" id="contact">
        <div class="container">
            <div class="row  mb-5 align-items-center justify-content-center">
                <div class="col-md-10 col-lg-7  text-center">
                    <h2>Get in <span  class="text-color-primary"> Touch</span></h2>
                    <p class="text-lg">If you've got a specific business challenge, we’d love to help you tackle it. Please get in touch with us.</p>
                </div><!-- /col-->
            </div><!-- /row-->
            <div class="row mb-4 contact-icon">                
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="d-flex">
                        <div class="pr-3">
                            <i class="fas fa-map-marker text-lg"></i>
                        </div>
                        <div class="pr-2">
                            <h5 class="mb-1">Location</h5>
                            <p>123 Business Avenue, Hoston, USA</p>
                        </div>
                    </div>
                </div><!-- /col -->
    
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="d-flex">
                        <div class="pr-3">
                                <i class="fas fa-headphones text-lg"></i>
                        </div>
                        <div class="pr-2">
                            <h5 class="mb-1">Call us</h5>
                            <p>+0123456789</p>
                        </div>
                    </div>
                </div><!-- /col -->
    
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="d-flex">
                        <div class="pr-3">
                            <i class="fas fa-at  text-lg"></i>
                        </div>
                        <div class="pr-2">
                            <h5 class="mb-1">Email</h5>
                            <p><a href="mailto:support@yourwebsite.com">support@yourwebsite.com</a></p>
                        </div>
                    </div>
                </div><!-- /col -->
            </div> <!-- /row-->

            <hr class="mb-5"> 

            <form>
                <div class="row">
                    <div class="col-12 col-md-6 mb-4 pb-2">
                        <input type="text" name="name" title="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-12 col-md-6 mb-4 pb-2">
                        <input type="text" name="email" title="Email" class="form-control" placeholder="Email Address">
                    </div>
                   
                    <div class="col-12 col-md-12 mb-4 pb-2">
                        <textarea name="message" class="form-control" title="Message" placeholder="Your Message"></textarea>
                    </div>
                    <div class="col-12 col-md-12 text-center">
                        <button type="submit" class="btn btn-themes btn-style-one btn-lg btn-rounded ">Send Messages</button>
                    </div>
                </div>
            </form><!-- /form-->
        </div><!-- /container-->
    </section>
    <!-- /Section : Get in Touch -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6  text-center text-sm-left"> © 2018 All Rights Reserved. </div><!-- /col -->
                <!--Footer social icon-->
                <div class="col-12 col-sm-6  text-center text-sm-right social_icons">
                    <a href="#" title="facebook" >
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" title="linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#" title="twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" title="google-plus">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="#" title="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </footer>
    <!-- /Footer -->

    <!-- back-to-top -->
    <a href="#" class="back-to-top" title="Back to Top" id="back-to-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- /back-to-top -->

    <!-- Color Switcher -->
    <div class="colorSwitcher">
            <a href="#" class="control" title="Color Switcher" id="opensetting">
            <i class="fas fa-cog"></i>
            </a>
        <!-- /Setting Button -->

        <div class="ColorSwitcher__switchs">
            <h5>Flat Color</h5>
            <a href="#" class="button-switch color-1" title="Color 1" data-themeclass="color-1"></a>
            <a href="#"  class="button-switch color-2" title="Color 1" data-themeclass="color-2"></a>
            <a href="#" class="button-switch color-3" title="Color 1" data-themeclass="color-3"></a>
            <a href="#" class="button-switch color-4" title="Color 1" data-themeclass="color-4"></a>
            <a href="#" class="button-switch color-5" title="Color 1" data-themeclass="color-5"></a>
            <a href="#" class="button-switch color-6" title="Color 1" data-themeclass="color-6"></a>
            <a href="#" class="button-switch color-7" title="Color 1" data-themeclass="color-7"></a>
            <a href="#" class="button-switch color-8" title="Color 1" data-themeclass="color-8"></a>
            <a href="#" class="button-switch color-9" title="Color 1" data-themeclass="color-9"></a>
            <a href="#" class="button-switch color-10" title="Color 1" data-themeclass="color-10"></a>
            <a href="#" class="button-switch color-11" title="Color 1" data-themeclass="color-11"></a>
            <a href="#" class="button-switch color-12" title="Color 1" data-themeclass="color-12"></a>
            <a href="#" class="button-switch color-13" title="Color 1" data-themeclass="color-13"></a>
            <a href="#" class="button-switch color-14" title="Color 1" data-themeclass="color-14"></a>
            <hr>
            <h5 class="mt-2">Gradient</h5>
            <a href="#" class="button-switch color-15" title="Color 1" data-themeclass="color-15"></a>
            <a href="#" class="button-switch color-16" title="Color 1" data-themeclass="color-16"></a>
            <a href="#" class="button-switch color-17" title="Color 1" data-themeclass="color-17"></a>
            <a href="#" class="button-switch color-18" title="Color 1" data-themeclass="color-18"></a>
            <a href="#" class="button-switch color-19" title="Color 1" data-themeclass="color-19"></a>
            <a href="#" class="button-switch color-20" title="Color 1" data-themeclass="color-20"></a>
            <hr>

            <a href="https://themeforest.net/item/radley-one-page-html-template/21982105?ref=AshokPrajapati" target="_blank" class="btn btn-block btn-themes btn-style-one btn-sm">Buy Now</a>
        </div> <!-- /switchs button -->
    </div>
    <!-- /Color Switcher -->

    <!-- jQuery -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/jquery-migrate-3.0.0.min.js"></script>
    <!-- /jQuery -->

    <!-- Plugins -->
    <script src="assets/plugin/bootstrap/js/popper.min.js"></script>
    <script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugin/owl-carousel/js/owl.carousel.min.js"></script>
    <!-- /Plugins -->

    <!-- Main -->
    <script src="assets/js/main.js"></script>
    <!-- /Main -->

</body>
<!-- /Body End -->
</html>